.google-auth{
    height: 500px;
}
.google-login-aria{
    margin-top: 50px;
    height: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.google-loggedIn{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    margin-top:70px;
    background-color: white;
    
}