.admin-service-list-container{
    background-color: rgba(236, 227, 227, 0.329);
    height: 100vh;
}
.admin-services-list-table-head th{
    font-weight:600;
}
.admin-services-list-table-header tr{
   box-sizing:none;
   border:none;
   background-color:  rgba(236, 227, 227, 0.329);
   border-radius: 10px;
}
.admin-services-list-table{
    font-size:16px;
    background-color: white;

}